<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer One</title>
    <link rel="stylesheet" href="../../../style/global.css" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <footer>
      <div class="footer-content">
        <div class="content-info">
          <img
            src="../../../assets/images/company-logo.svg"
            alt="imagem do logo da company"
          />
          <h3>
            Join our newsletter to stay up to date on features and releases.
          </h3>
          <div class="content-wrapper">
            <form action="">
              <input type="email" placeholder="Enter your email" />
              <button type="submit">Subscribe</button>
            </form>
            <p>
              By subscribing you agree to with our Privacy Policy and provide
              consent to receive updates from our company.
            </p>
          </div>
        </div>
        <div class="content-nav">
          <div class="collumn-one">
            <h3>Column One</h3>
            <nav>
              <a href="">Link One</a>
              <a href="">Link Two</a>
              <a href="">Link Three</a>
              <a href="">Link Four</a>
              <a href="">Link Five</a>
            </nav>
          </div>
          <div class="collumn-two">
            <h3>Column Two</h3>
            <nav>
              <a href="">Link Six</a>
              <a href="">Link Seven</a>
              <a href="">Link Eight</a>
              <a href="">Link Nine</a>
              <a href="">Link Ten</a>
            </nav>
          </div>
          <div class="social-media">
            <!-- h3+nav>(a>img+p)*5 -->
            <h3>Follow Us</h3>
            <nav>
              <a href="https://www.facebook.com/">
                <img
                  src="../../../assets/images/facebook.svg"
                  alt="icone do Facebook"
                />
                <p>Facebook</p>
              </a>
              <a href="https://www.instagram.com/">
                <img
                  src="../../../assets/images/instagram.svg"
                  alt="icone do Instagram"
                />
                <p>Instagram</p>
              </a>
              <a href="https://www.x.com/">
                <img src="../../../assets/images/x.svg" alt="icone do X" />
                <p>X</p>
              </a>
              <a href="https://www.linkedin.com/">
                <img
                  src="../../../assets/images/linkedIn.svg"
                  alt="icone do LinkedIn"
                />
                <p>LinkedIn</p>
              </a>
              <a href="https://www.youtube.com/">
                <img
                  src="../../../assets/images/youtube.svg"
                  alt="icone do Youtube"
                />
                <p>Youtube</p>
              </a>
            </nav>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2023 Relume. All rights reserved.</p>
        <nav class="nav-terms">
          <a href="">Privacy Policy</a>
          <a href="">Terms of Service</a>
          <a href="">Cookies Settings</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
