<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer One</title>
    <link rel="stylesheet" href="../../../style/global.css" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <footer>
      <div class="footer-content">
        <div class="content-info">
          <img
            src="../../../assets/images/company-logo.svg"
            alt="imagem do logo da company"
          />
          <h3>
            Join our newsletter to stay up to date on features and releases.
          </h3>
          <div class="content-wrapper">
            <form action="">
              <input type="email" placeholder="Enter your email" />
              <button type="submit">Subscribe</button>
            </form>
            <p>
              By subscribing you agree to with our Privacy Policy and provide
              consent to receive updates from our company.
            </p>
          </div>
        </div>
        <div class="content-nav"></div>
      </div>
      <div class="footer-bottom">
        <p>© 2023 Relume. All rights reserved.</p>
        <nav class="nav-terms">
          <a href="">Privacy Policy</a>
          <a href="">Terms of ServiceTerms of Service</a>
          <a href="">Cookies Settings</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
