footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 542px;
  padding: 80px 64px;
  gap: 80px;
  border: 1px solid black;
}

.footer-content {
  border: 1px solid black;
}

.footer-bottom {
  display: flex;

  width: 100%;
  height: 54px;

  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid black;
}

.nav-terms {
  display: flex;
  gap: 24px;
}

.nav-terms > a {
  text-decoration: underline;
  color: black;
}

.content-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  width: 500px;
  height: 199px;
}
