header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 80px 60px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.title-page {
  display: flex;
  flex-direction: column;
  padding: 48px 48px;
  width: 50%;
}

.content-header h1 {
  font-size: 56px;
  width: 560px;
  height: 134px;
  margin-top: 80px;
}

img {
  width: 50%;
 }

p {
  font-size: 18px;
  width: 560px;
  height: 81px;
  margin-top: 30px;
}

form {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}

input[type="email"] {
  width: 396px;
  height: 48px;
  border: 1px solid black;
  font-size: 16px;
  padding: 12px;
}

button {
  width: 101px;
  height: 48px;
  background-color: black;
  color: white;
}

p.detalhes {
  font-size: 12px;
  width: 513px;
  height: 18px;
}

a{
  text-decoration: underline;
  color: black;
}

@media(max-width: 375px) {
  
  header{
    flex-direction: column;
    padding: 48px 20px;
  }

  .content-header{
    flex-direction: column;
    align-items: center;
    
  }

  .title-page{
    padding: 32px 32px;
    width: 100%;
  }

  img{
    width: 100%;
    height: auto;
  }

  .content-header h1{
    font-size: 37.4px;
    width: 100%;
    height: 100%;
  }

  p{
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  form{
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  input[type="email"] {
    width: 100%;
    height: 48px;
  }

  button{
    width: 100%;
    height: 48px;
  }

p.detalhes{
  font-size: 12px;
  width: 100%;
  height: 100%;
}
}
