.layout {
    width: 100%;
    padding: 112px 64px;
    font-family: Arial, Helvetica, sans-serif
    
    
}

.section-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-title p{
    display: flex;
    font-size: 12px;
    gap: 16px;
}

.layout-content {
    display: flex;
    gap: 80px;
    align-items: center;
}

.layout-info {
    display: flex;
    flex-direction: column;
    gap:24px;
}

button {
    border: 1px solid black;
    width: 96px;
    height: 48px;
    
    background-color: transparent;}

img {
    width: 616px;
    height: 640px;
    
}

@media(max-width: 375px ){
.layout-content{
flex-direction: column;
gap: 48px;

}


}

.layout-info{
    padding: 64px 0 0 0 ;
    gap: 8px;

}

img {
    width: 335px;
    height: 348px;
}


.button-content {
padding: 16px 0 0 0 ;
flex-direction: column;
gap: 24px;

}

button{
width: 96px;
height: 48px;
gap: 24px;

}