<!DOCTYPE html>
<html lang="Pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../header-five/style.css">
    <link rel="stylesheet" href="../../../style/global.css">
    <title>portfolio header</title>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="content-info">
                <h1>Project name here</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique.
                </p>

                <nav>
                    <button>Tag One</button>
                    <button>Tag Two</button>
                    <button>Tag Three</button>
                </nav>
            </div>
            <div class="header-more">
                <div class="client">
                    <h4>Client</h4>
                    <p>Full Name</p>
                </div>
                <div class="date">
                    <h4>Date</h4>
                    <p>March 2023</p>
                </div>
                <div class="Role">
                    <h4>Role</h4>
                    <p>Role Name</p>
                </div>
                <div class="Website">
                    <h4>Website</h4>
                    <link rel="" href="www.relume.io">www.relume.io
                </div>
            </div>
        </div><!--header-content-->
    </header>
</body>

</html>