<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../header-five/style.css">
    <link rel="stylesheet" href="">
    <title>portfolio header</title>
</head>
<body>
    <div class="header-content">
        <div class="content-info">
        <h1>Project name here</h1>
        <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. 
        </h4>
        <button>Tag One</button>
        <button>Tag Two</button>
        <button>Tag three</button>
    </div>
    <div class="header-info">
        <nav>
            <a href="">Client</a>
            <a href="">Date</a>
            <a href="">Role</a>
            <a href="">Website</a>
        </nav>
    </div>
</div>
</body>
</html>