<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/global.css">
    <link rel="stylesheet" href="./styles.css">
    <title>Contact</title>
</head>

<body>
    <section>
        <header>
            <h6>Tagline</h6>
            <h1>Contact us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </header>
        <div class="corp-input">
            <form action="">
                <p class="checkbox">Name</p>
                <input type="text" name="" id="">
                <p class="checkbox">Email</p>
                <input type="email" name="" id="">
                <p class="checkbox">Message</p>
                <input type="text" name="" id="" class="message" placeholder="Type your message...">
                <div class="terms-header">
                    <div class="terms">
                        <input type="checkbox" name="" id="">
                        <p class="accept">I accept the <a href="#">Terms</a></p>
                    </div>
                </div>
                <div class="button">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

    </section>
</body>

</html>