header {
  display: flex;
  align-items: center;
  padding: 112px 64px;
  width: 100%;
  height: 864px;
  gap: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 616px;
}
.header-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header-text h1 {
  max-width: 20ch;
}
.header-text p {
  max-width: 70ch;
  font-size: 18px;
}
.button-wrapper {
  display: flex;
  gap: 16px;
}
.button-wrapper button {
  margin-top: 16px;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid black;
}
.button-wrapper :nth-child(1) {
  background-color: #000;
  color: white;
}
.header-img {
  height: 640px;
  width: 616px;
}
img {
  width: 100%;
  height: 100%;
}
@media (max-width: 376px) {
header {
  height: 880px;
  padding: 64px 20px;
  gap: 48px;
  flex-direction: column;
  }
  .header-img {
    width: 335px;
    height: 348px;
  }
  .header-content {
    gap: 8px;
    width: 100%;
  }
  .header-text {
  gap: 20px;
  }
  .header-text h1 {
    max-width: 13ch;
    font-size: 40px;
  }
  .header-text p {
    max-width: 60ch;
    font-size: 16px;
  }
}