<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/style/global.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Footer Four</title>
  </head>
  <body>
    <footer>
      <div class="footer-content">
        <img
          src="/src/assets/images/company-logo.svg"
          alt="imagem do logo da company"
        />
        <nav class="nav-pages">
          <a href=""><b>Link One</b></a>
          <a href=""><b>Link Two</b></a>
          <a href=""><b>Link Three</b></a>
          <a href=""><b>Link Four</b></a>
          <a href=""><b>Link Five</b></a>
        </nav>
        <nav class="nav-social-medias">
          <a href="www.facebook.com.br"
            ><img
              src="/src/assets/images/facebook.svg"
              alt="imagem do logo facebook"
          /></a>
          <a href="www.instagram.com.br"
            ><img
              src="/src/assets/images/instagram.svg"
              alt="imagem do logo instagem"
          /></a>
          <a href="www.x.com.br"
            ><img src="/src/assets/images/x.svg" alt="imagem do logo x"
          /></a>
          <a href="www.linkedIn.com.br"
            ><img
              src="/src/assets/images/linkedIn.svg"
              alt="imagem do logo linkedIn"
          /></a>
          <a href="www.youtube.com.br"
            ><img
              src="/src/assets/images/youtube.svg"
              alt="imagem do logo youtube"
          /></a>
        </nav>
      </div>
      <div class="footer-bottom">
        <p>© 2023 Relume. All rights reserved.</p>
        <nav class="nav-terms">
          <a href="">Privacy Policy</a>
          <a href="">Terms of Service</a>
          <a href="">Cookies Settings</a>
        </nav>
      </div>
    </footer>
  </body>
</html>