footer {
  width: 100%;
  height: 321px;

  display: flex;
  flex-direction: column;

  padding: 80px 64px;
  gap: 80px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
    font-size: 14px;
}

p {
    font-size: 14px;
}

.footer-content a {
    font-size: 16px;
    font-weight: 600;
}

.footer-bottom a {
    text-decoration: underline;
}

.footer-content {
    width: 100%;
    height: 33px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-pages {
    display: flex;
    gap: 32px;
}

.nav-social-medias {
    display: flex;
    gap: 12px;
}

.footer-bottom {
    width: 100%;
    height: 54px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    gap: 24px;
    border-top: 1px solid black;
}

.nav-terms {
    display: flex;
    gap: 24px;
}

@media (max-width: 376px) {
  footer {
    height: 100%;

    padding: 48px 20px;
    gap: 48px;
  }

  .footer-content {
    height: 100%;

    flex-direction: column;
    justify-content: center;
    
    gap: 48px;
  }

  .nav-pages {
    flex-direction: column;
    gap: 24px;
  }

  .footer-bottom {
    flex-direction: column-reverse;

    height: 100%;
    align-items: center;
  }

  .nav-terms {
    flex-direction: column;
    align-items: center;

    margin-top: 25px;
  }

  .footer-bottom p {
    margin-top: 32px;
  }

}
