<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="conteiner">
            <h1>project name here</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Suscipit sit ipsa et ex dicta officiis atque laboriosam error vel,</p>

            <nav>
                <button>Tag one</button>
                <button>Tag two</button>
                <button>Tag three</button>
            </nav>
        </div>
    </header>
</body>

</html>