<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="conteiner">
            <div class="conteiner-info">
                <h1>Project name here</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Suspendisse varius enim in eros elementum tristique.</p>

                <nav>
                    <button><b>Tag one</b></button>
                    <button><b>Tag two</b></button>
                    <button><b>Tag three</b></button>
                </nav>
            </div><!--conteiner-info-->
        </div> <!--conteiner-->
    </header>
</body>
</html>