<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonial 35</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="../../../style/global.css" />
  </head>
  <body>
    <main>
      <section>
        <p>Tagline</p>
        <h1>Customer testimonials</h1>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
      </section>
      <section>
        <div class="main-container">
          <img
            src="../../../assets/images/placeholder-image.svg"
            alt="placeholder-img"
          />
          <div class="text-wrapper">
            <div class="star-wrapper">
              <a href="#"
                ><img
                  src="../../../assets/images/star-icon.svg"
                  alt="star-icon"
              /></a>
              <a href="#"
                ><img
                  src="../../../assets/images/star-icon.svg"
                  alt="star-icon"
              /></a>
              <a href="#"
                ><img
                  src="../../../assets/images/star-icon.svg"
                  alt="star-icon"
              /></a>
              <a href="#"
                ><img
                  src="../../../assets/images/star-icon.svg"
                  alt="star-icon"
              /></a>
              <a href="#"
                ><img
                  src="../../../assets/images/star-icon.svg"
                  alt="star-icon"
              /></a>
            </div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
              libero vitae erat."
            </p>
            <div class="avatar-content">
              <p>Name Surname</p>
              <p>Position, Company name</p>
            </div>
          </div>
        </div>
        <div class="menu-tabs">
          <img src="../../../assets/images/relume-logo.svg" alt="relume-icon" />
          <img
            src="../../../assets/images/webflow-logo.svg"
            alt="webflow-icon"
          />
          <img src="../../../assets/images/relume-logo.svg" alt="relume-icon" />
          <img
            src="../../../assets/images/webflow-logo.svg"
            alt="webflow-icon"
          />
        </div>
      </section>
    </main>
  </body>
</html>
