body {
  font-family: sans-serif;
}

header {
  height: 72px;
  width: 100%;
  padding: 16px 64px;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

nav p a {
  color: black;
  font-size: 16px;
}

.navbar-container nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.button-1,
.button-2 {
  padding: 8px 20px;
}

.button-1 {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.button-2 {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.nav-item {
  position: relative;
}

.nav-item a {
  color: black;
  
}



.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  width: 150px;
  z-index: 10;
}

.dropdown-menu.open {
  display: block;
}




@media (max-width: 384px) {
  .button-container {
    width: 200px!important;
  }
}

@media (max-width: 480px) {
  header {
    height: 100%;
    border: none;
    box-shadow: none;
    padding: 18px 20px;
  }

  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-container nav {
    margin-top: 47px;
    align-items: flex-start;
    flex-direction: column;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 335px;
  }

  nav p a {
    color: black;
    font-size: 18px;
  }

  .nav-item a {
    font-size: 18px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    padding: 5px 25px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

  }

  .navbar-container img {
    margin-right: 35px;
  }

  nav p a {
    color: black;
    font-size: 10px;
  }
  
  .nav-item a {
    font-size: 10px;
  }

  .navbar-container nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}